
header{
    background-color: #2E5462;
    color: #FF845C;
    height: 80px;
    padding-left: 40px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

header h1{
    padding-top: 20px;
    font-size: 200%;
}

header p{
    padding-top: 5px;
    font-size: 75%;
}

#logo{
    width: 192px;
    height: auto;
    text-align: center;
}

body{
    height: 100%;
}


#map-canvas{
    height: 950px;
    width: 100%;
    z-index: 0;
    position: relative;
}

footer {
  background-color: #2E5462;
  color: #00A4A3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  overflow: hidden;
  font-size: 15px;
  line-height: 50px;
  padding: 0 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 800px;
   font-family: 'Alegreya Sans SC', sans-serif;
}

footer ul{
    padding-top: 20px;
}


.rightfooter{
  display: inline;
  float: right;
  padding-right: 20px;
}

.leftfooter{
  display: inline;
  float: left;
}

.rightfooter a:visited{
     text-decoration: none;
     color: #00B6B5;
}

.rightfooter a:link {
     text-decoration: none;
     color: #00B6B5;
}

.rightfooter a:hover{
     text-decoration: none;
     color: #FF845C;
}

.rightfooter a:active{ 
     text-decoration: none;
     color: #00B6B5;
}


 .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #location_one,#location_two {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        display: inline-block;
        margin-bottom: 500px;

      }

     #location_one,#location_two:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }


      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }